[submodule "vendor/gopkg.in/mgo.v2"]
	path = vendor/gopkg.in/mgo.v2
	url = https://gopkg.in/mgo.v2
[submodule "vendor/github.com/yuin/gopher-lua"]
	path = vendor/github.com/yuin/gopher-lua
	url = https://github.com/yuin/gopher-lua
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq
[submodule "vendor/github.com/GuiaBolso/darwin"]
	path = vendor/github.com/GuiaBolso/darwin
	url = https://github.com/GuiaBolso/darwin
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
