[submodule "vendor/gopkg.in/mgo.v2"]
	path = vendor/gopkg.in/mgo.v2
	url = https://gopkg.in/mgo.v2
[submodule "vendor/github.com/yuin/gopher-lua"]
	path = vendor/github.com/yuin/gopher-lua
	url = https://github.com/yuin/gopher-lua
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq
